<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.truenas-control-web</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON_BIN__</string>
    <string>__RUNTIME_DIR__/app.py</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__RUNTIME_DIR__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>WOL_NAS_DATA_DIR</key>
    <string>__INSTALL_ROOT__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/truenas-control-web.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/truenas-control-web-error.log</string>
</dict>
</plist>
